/* .popular-container{
    margin: 50px 70px;
} */
.popular-content h1{
    color: #1b1b1b;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 5px;
    font-style: normal;
    
}

.popular-content h5{
    color: #5d6c83;
    padding-bottom: 28px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.popular-content p{
    color: #5d6c83;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 36px;
    font-weight: 400;
    text-align: left;
}
.popular-list ul li{
    color: #5d6c83;
    font-size: 18px;
    /* width: 50%; */
    padding-bottom: 16px;
}