.link-container a {
  text-decoration: none;
  margin-right: 15px;
  color: black;
}

.link-container a:hover{
 color: #f9676b;
}
.signup {
  background-color: #f9676b;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
}
.signup:hover {
  background-color: white;
  color: #f9676b;
  border: 1px solid #f9676b;
}

.logo {
  color: #f9676b;
}
.navbar{
  background-color: white;
}
