.banner img {
  width: 100%;
}
.banner {
  position: relative;
}
.banner-content {
  position: absolute;
  top: 250px;
  left: 70px;
}

.explore-btn {
  background: #f9676b;
  color: #fff;
  font-size: 20px;
  line-height: 1;
  border: none;
  padding: 20px 40px;
  display: inline-block;
}
.explore-btn:hover{
    background-color: #fff;
    color: #f9676b;
}
.heading {
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 3px;
}
