.banner img{
    width: 100% ;
}
.banner{
    position: relative;
}
.banner-content{
    position: absolute;
    top: 220px;
    left: 250px;
}

.explore-btn{
    border: none;
    background-color: #f9676b;
    color: white;
    /* margin: 0 200px; */
}
.heading{
    font-size: 45px;
    color: white;
}
