.banner img{
    width: 100% ;
}
.banner{
    position: relative;
}
.banner-content{
    position: absolute;
    top: 280px;
    left: 245px;
}

.explore-btn{
    border: none;
    background-color: #f9676b;
    color: white;
}
.heading{
    font-size: 45px;
    color: white;
}
.explore{
    margin: 0 300px;
}